body {
    color: beige;
    background-color: rgb(64, 98, 186);
    font-family: 'Muli', sans-serif
}

img{
    width: 25;
}

.smallText {
    color: white;
    font-size: 14px;
    margin-top: -20px;
}

header {
    text-align: center;
}

.ex1Container {
    background-color: rgb(238, 240, 239);
    height: 60px;
    margin: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.textContainer {
    background-color: rgb(238, 240, 239);
    height: 110%;
    margin: 0px 100px;
    padding: 0px 10px;
    text-align: center;
}

p {
    color: black;
}

.box1 {
    background-color: rgb(26, 25, 25);
    width: 40px;
    height: 40px;
    margin: 0px 5px;
}

.highlight{
    color: red;
}

.ex2Container {
    background-color: rgb(238, 240, 239);
    height: 60px;
    margin: 0px 100px;
    display: flex;
    align-items: center; /* Vertical Alignment */
    justify-content: flex-start; /*  Horizontal Alignment and centralization */
}

.ex3Container {
    background-color: rgb(238, 240, 239);
    height: 60px;
    margin: 0px 100px;
    display: flex;
    align-items: center; /* Vertical Alignment */
    justify-content: flex-end; /*  Horizontal Alignment and centralization */
}

.ex4Container {
    background-color: rgb(238, 240, 239);
    height: 60px;
    margin: 0px 100px;
    display: flex;
    align-items: center; /* Vertical Alignment */
    justify-content: center; /*  Horizontal Alignment and centralization */
}